1.0.txt
treeofdirectory.txt

# Sensitive
*.pem
*.key
.env

# python
__pycache__/
*.pyc
*.pyo

# virtual env
.venv/
venv/
node_modules/
dist/
build/

# database
*.db

# node
node_modules/

# env
.env

# ide
.idea/
.vscode/

# build
dist/
build/

# logs
*.log
